@using InternetBanking.Core.Application.ViewModels.Client
@using InternetBanking.Core.Application.ViewModels.Auth
@using InternetBanking.Core.Application.Helpers
@inject IHttpContextAccessor httpContext;
@{
    UserViewModel User = httpContext.HttpContext.Session.Get<UserViewModel>("user");
}
@{
    ViewData["Title"] = "Home";
}

<section class="container">
    <div class="row mx-auto">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-bold mt-4 text-center text-primary"><i class='bx bxs-bank text-primary'></i> Internet Banking App</h1>
            <p class="fs-3 fw-bold text-secondary mt-1 text-center">
                Welcome to Internet Banking, here you can manager your products <i class="text-white">🚀</i>
            </p>
        </div>
    </div>
</section>

<div class="row mx-auto">
    <h2 class="text-dark fw-bold mt-5 ms-5"><i class='bx bxs-user-account ms-5'></i> ACCOUNTS</h2>
    @if(ViewBag.SavingsAccount.Count != 0){

        @foreach (SavingsAccountsViewModel savingAccount in ViewBag.SavingsAccount)
        {
            <div class="col-6 mx-auto offset-1">
                <div class="col-10 mx-auto card bg-dark text-white mt-3" style="border-radius: 1rem;">
                    <div class="card-body">

                        <h4 class="fw-bold mb-3 text-uppercase mt-2 fs-4"><i class='bx bxs-wallet'></i> Savings Account <i class="text-primary">*@savingAccount.AccountNumber[^ 4 .. ^ 0]</i></h4>
                        <p class="fs-5">@savingAccount.TotalBalance $ <i class="text-white-50 fs-5 float-end">Available balance</i></p>

                    </div>
                </div>
            </div>
        }
    }
    else{

        <h5 class="fs-4 fw-bold text-secondary mt-1 text-center"><i class='bx bxs-wallet'></i> No savings account yet</h5>
    }

    <div class="col-6 mx-auto offset-1">
        <div class="col-10 mx-auto card bg-dark text-white mt-3" style="border-radius: 1rem;">
            <div class="card-body">

                <h4 class="fw-bold mb-3 text-uppercase mt-2"><i class='bx bxs-wallet'></i> Savings Account <i class="text-primary">*2374</i></h4>
                <p class="fs-5">5,000.00 $ <i class="text-white-50 fs-5 float-end">Available balance</i></p>

            </div>
        </div>
    </div>

    <br /><br />
    <h2 class="text-dark fw-bold mt-5 ms-5"><i class='bx bxs-credit-card-front ms-5'></i> CREDIT CARDS</h2>
        @if(ViewBag.CreditCards.Count != 0){

        @foreach (CreditCardsViewModel creditCard in ViewBag.CreditCards)
        {
            <div class="col-6 mx-auto offset-1">
                <div class="col-10 mx-auto card bg-dark text-white mt-3" style="border-radius: 1rem;">
                    <div class="card-body">

                        <h4 class="fw-bold mb-3 text-uppercase mt-2 fs-4"><i class='bx bxs-credit-card-alt'></i>@creditCard.Company <i class="text-primary">*@creditCard.CreditCardNumber[^ 4 .. ^ 0]</i></h4>
                        <p class="fs-5">@creditCard.CreditAvailable $ <i class="text-white-50 fs-5 float-end">Available credit</i></p>
                        <p class="fs-5">@creditCard.TotalBalance $ <i class="text-white-50 fs-5 float-end">Pending balance</i></p>

                    </div>
                </div>
            </div>
        }
    }
    else{

        <h5 class="fs-4 fw-bold text-secondary mt-1 text-center"><i class='bx bxs-wallet'></i> No credit cards yet</h5>
    }
    <div class="col-6 mx-auto">
        <div class="col-10 mx-auto card bg-dark text-white mt-3" style="border-radius: 1rem;">
            <div class="card-body">

                <h4 class="fw-bold mb-3 text-uppercase mt-2"><i class='bx bxs-credit-card-alt'></i> Visa<i class="text-primary">*2189</i></h4>
                <p class="fs-5">8,756.91 $ <i class="text-white-50 fs-5 float-end">Available credit</i></p>
                <p class="fs-5">80,956.91 $ <i class="text-white-50 fs-5 float-end">Pending balance</i></p>

            </div>
        </div>
    </div>

    <br /><br />
    <h2 class="text-dark fw-bold mt-5 ms-5"><i class='bx bxs-book-bookmark ms-5'></i> LOANS</h2>
     @if(ViewBag.Loans.Count != 0){

        @foreach (LoansViewModel loan in ViewBag.Loans)
        {
            <div class="col-6 mx-auto offset-1">
                <div class="col-10 mx-auto card bg-dark text-white mt-3" style="border-radius: 1rem;">
                    <div class="card-body">

                        <h4 class="fw-bold mb-3 text-uppercase mt-2 fs-4"><i class='bx bx-wallet-alt'></i>@loan.Type <i class="text-primary">*2759</i></h4>
                        <p class="fs-5">@loan.TotalDebt $ <i class="text-white-50 fs-5 float-end">Pending balance</i></p>

                    </div>
                </div>
            </div>
        }
    }
    else{

        <h5 class="fs-4 fw-bold text-secondary mt-1 text-center"><i class='bx bxs-wallet'></i> No loans yet</h5>
    }
    <div class="col-6 mx-auto">
        <div class="col-10 mx-auto card bg-dark text-white mt-3" style="border-radius: 1rem;">
            <div class="card-body">

                <h4 class="fw-bold mb-3 text-uppercase mt-2"><i class='bx bx-wallet-alt'></i> Personal <i class="text-primary">*2654</i></h4>
                <p class="fs-5">80,956.91 $ <i class="text-white-50 fs-5 float-end">Pending balance</i></p>

            </div>
        </div>
    </div>
</div>





















