@using InternetBanking.Core.Application.ViewModels.Products;
@model ProductViewModel
@{
    string clientId = ViewBag.ClientId;
    ViewData["Title"] = "Index";
}

<div class="row">

    <div class="row bg-light rounded p-3 mb-5">
        <section class="w-100 d-flex justify-content-between gap-3 align-items-center px-5">
            <h3 class="fs-4 fw-bold fw-bolder m-2 w-100">
                Productos
                <span class="fs-5 fw-bold fw-bolder text-muted m-2 text-end w-100">
                    / Administración de usuarios
                </span>
            </h3>
            <a asp-controller="Home" asp-action="UserManagement" class="btn btn-outline-dark">
                Volver atras
            </a>
            <a asp-controller="Product" asp-action="CreateAccount" asp-route-id="@clientId" class="btn btn-outline-dark">
                Agregar Nuevo Producto
            </a>
        </section>
    </div>

    <div class="col-8 mx-auto">

        @if (ViewBag.ProductList == null || ViewBag.ProductList.Count == 0)
        {
            <h2>No existen productos de este usuario</h2>
        }
        else
        {
            <table class="table table-hover">
                <thead>
                    <tr class="table-primary">
                        <th scope="col">Num. de cuenta</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Dueño</th>
                        <th scope="col">Principal</th>
                        <th scope="col">Descontado</th>
                        <th scope="col">Tipo de cuenta</th>
                        <th class="text-center" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ProductViewModel item in ViewBag.ProductList)
                    {
                        <tr class="table-light">
                            <td>@item.AccountNumber</td>
                            <td>$ @item.Charge</td>
                            <td>@item.Owner</td>
                            <td>@item.IsPrincipal</td>
                            <td>$ @item.Discharge</td>
                            <td>@item.TypeAccount.NameAccount</td>
                            <td>
                                <div class="d-flex justify-content-start w-100">
                                    @if (item.IsPrincipal != true)
                                    {
                                        <a 
                                            asp-controller="Product" 
                                            asp-action="DeleteProduct" 
                                            asp-route-id="@item.Id" 
                                            class="btn btn-sm btn-info me-2 w-100"
                                        >
                                            Eliminar
                                        </a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

</div>

@{
    ViewData["Title"] = "User Managment";
}

<main>

    <section class="container">
        <div class="row mx-auto">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-bold mt-4 text-center text-primary"><i class='bx bxs-user-detail'></i> Products</h1>
                <p class="fs-3 fw-bold text-secondary mt-1 text-center">
                    Here you can manager the products registered in the system and register a new one. <i class="text-white">🚀</i>
                </p>
                <p>
                    <a asp-controller="Home" asp-action="UserManagement" class="btn btn-info btn-lg">
                       <i class='bx bxs-user-detail'></i> Back
            </a>
                </p>
            </div>
        </div>
    </section>

    <div class="container container-content text-center p-5">
        <div class="row">
            <div class=" col-md-10 mx-auto">
                <div class="container pt-5 p-5 bg-dark rounded-3">
                    <table id="table-invited" class=" table table-dark table-hover">

                        <div class="d-flex justify-content-between mb-3 text-dark">
                            <h2 class="text-white">PRODUCTS</h2>
                            <a asp-controller="Home" asp-action="Register" class="btn btn-lg btn-info mt-2 text-light mt-2 mb-2"><i class='bx bxs-user-plus'></i> Register user</a>
                        </div>

                        <thead>
                            <tr>
                                <th scope="col">Account number</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Is principal</th>
                                <th scope="col">Discounted</th>
                                <th scope="col">Account type</th>
                                <th class="text-center" scope="col">Delete</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (ProductViewModel product in ViewBag.ProductList)
                            {
                                <tr class="table-light">
                                    <td>@product.AccountNumber</td>
                                    <td>$ @product.Charge</td>
                                    <td>@product.Owner</td>
                                    <td>@product.IsPrincipal</td>
                                    <td>$ @product.Discharge</td>
                                    <td>@product.TypeAccount.NameAccount</td>
                                    <td>
                                        <div class="d-flex justify-content-start w-100">
                                            @if (product.IsPrincipal != true)
                                            {
                                                <a asp-controller="Product"
                                                   asp-action="DeleteProduct"
                                                   asp-route-id="@product.Id"
                                                   class="btn btn-sm btn-danger me-2 w-100">
                                                    <i class='bx bxs-trash'></i>
                                                </a>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>


